---
import "../styles/global.css";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Will Domine | Portfolio</title>
	</head>
	<body class="bg-[#393e42]">
		<div class="flex min-h-screen min-w-screen">
			<Sidebar />
			<main class="flex-1 min-w-0 h-screen overflow-y-auto">
				<div class="max-w-7xl mx-auto p-6 lg:p-12">
					<slot />
				</div>
			</main>
		</div>
	</body>
</html>
