---
import Layout from "../layouts/Layout.astro";
import { categories } from "../utils/skills";
---

<Layout>
  <main class="max-w-6xl mt-15 lg:mt-0">
    <header class="mb-10 border-b border-white/10 pb-10">
      <div class="flex items-center gap-2 font-mono text-[11px] text-slate-400 mb-4 tracking-widest uppercase">
        <span>root</span><span>/</span>
        <span>usr</span><span>/</span>
        <span class="text-[#FFFF30] font-bold">capabilities.sys</span>
      </div>

      <h1 class="text-4xl font-black text-white font-mono tracking-tighter uppercase mb-2">
        Skill_Manifest<span class="text-[#FFFF30] animate-pulse">_</span>
      </h1>
      <p class="text-slate-400 font-mono text-xs">
        <span class="text-[#FFFF30] font-bold">//</span> Status: <span class="text-green-500">System_Optimal</span>. Found {categories.length} core modules.
      </p>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {categories.map((cat) => (
        <section class="flex flex-col bg-[#0d0e10] border border-white/5 rounded-lg overflow-hidden group hover:border-[#FFFF30]/30 transition-all duration-300">
          
          <div class="bg-white/5 px-4 py-2 border-b border-white/5 flex justify-between items-center">
            <h2 class="text-white font-mono text-[10px] font-bold uppercase tracking-widest">
              {cat.group}
            </h2>
            <div class="flex gap-1">
              <div class="w-1.5 h-1.5 rounded-full bg-white/10"></div>
              <div class="w-1.5 h-1.5 rounded-full bg-white/10"></div>
            </div>
          </div>

          <div class="p-5 grow">
            <p class="text-[9px] font-mono text-zinc-500 mb-4 italic leading-tight uppercase tracking-tighter">
              {cat.comment}
            </p>

            <div class="flex flex-wrap gap-1.5">
              {cat.items.map((item) => (
                <span class="px-2 py-1 bg-[#1a1c1e] border border-white/5 text-slate-300 font-mono text-[11px] group-hover:border-[#FFFF30]/20 transition-colors">
                  {item}
                </span>
              ))}
            </div>
          </div>
          
          <div class="h-1 w-0 bg-[#FFFF30] group-hover:w-full transition-all duration-500"></div>
        </section>
      ))}
    </div>

    <div class="mt-10 flex flex-col md:flex-row justify-between items-center gap-4 opacity-50 hover:opacity-100 transition-opacity">
        <div class="font-mono text-[10px] text-slate-500 flex items-center gap-3">
            <span class="text-green-500">➜</span>
            <span>SYSTEM_AUDIT_COMPLETE --LOG_PATH=/VAR/LOG/SKILLS.LOG</span>
        </div>
        <div class="h-px grow bg-white/5 hidden md:block mx-4"></div>
        <a href="/projects" class="font-mono text-[11px] text-[#FFFF30] uppercase tracking-[0.2em] font-bold">
            [ VERIFY_REPOS ]
        </a>
    </div>

  </main>
</Layout>